# dotenv er en fil hvor man kan lagre sensitiv data som kan være nødvendig for å kjøre koden,
# men som vi ikke vil at andre skal vite.

# For bruk, se Notebook.ipynb

API=Aldri del en API key med noen, beskytt det som et passord
Annen_Verdi=Lag flere med linjeskift.